.search-list {
  width: 90%;
  background-color: $main-green;
}

.search-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
  background-color: white;
  margin: 4px;
  padding: 4px;
}
.search-item-darken {
  background-color: grey;
}
.search-item-left {
  align-items: flex-start;
}
.search-item-right {
  align-items: flex-end;
}
.search-item-title {
  font-size: 16px;
  font-weight: bold;
}
