$main-green: #41d3a5;
$mid-lighter-green: #82F2D8;
$lighter-green: #ADF7E3;
$darker-green: #10b287;
$main-orange: #FF9600;
$lighter-orange: #FFDAAA;
$light-black: #141313;
$border-grey: rgb(209, 209, 209);
