$main-green: #ffe4be;
$mid-lighter-green: #fffbf5;
$lighter-green: #fff2dd;
$darker-green: #ffcc86;
$main-orange: #FF9600;
$lighter-orange: #FFDAAA;
$deep-grey: #5f6e79;
$light-black: #232323;
$error-red: #B22121;
$border-grey: rgb(209, 209, 209);
$sky-blue: #9ccbf5;
// $main-green: #41d3a5;
// $mid-lighter-green: #82F2D8;
// $lighter-green: #ADF7E3;
// $darker-green: #10b287;
// $main-orange: #FF9600;
// $lighter-orange: #FFDAAA;
// $light-black: #141313;
// $error-red: #B22121;
// $border-grey: rgb(209, 209, 209);
