.following-list, .following-reroute-container {
  width: 80%;
  height: 85vh;
  background-color: black;
  margin: 12px 0 0 0;
}
.following-reroute-container {
  height: 50vh;
  background-color: $main-green;
  p {
    margin: 22px 0 6px 0;
    font-size: 22px;
    font-weight: 300;
  }
  a {
    font-weight: 300;
  }
  a:hover {
    text-decoration: underline;
  }
  div {
    flex-direction: row;
    align-items: center;
    p {
      margin: 0 4px 0 4px;
    }
  }
}
.following-item-container, .following-item-fade {
  display: block;
  width: 100%;
  height: inherit;
  background-color: $darker-green;
  overflow: auto;
  border-top: 18px solid $main-green;
  border-bottom: 20px solid $main-green;
  .following-item-fade {
    border: none;
  }
}
.following-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 92%;
  background-color: white;
  margin: auto;
  padding: 4px;
}
.following-item-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.following-item-darken {
  background-color: grey;
}
.following-item-left {
  align-items: flex-start;
}
.following-item-right {
  align-items: flex-end;
}
.following-item-title {
  font-size: 16px;
  font-weight: 400;
}
.following-list-buttons-container {
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.following-list-button {
  width: 150px;
  padding: 12px;
  border-bottom: none;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.following-list-button:focus, .following-list-item:focus {
  outline: none;
}
.following-list-button-active {
  background-color: $main-green;
  border-color: $main-green;
}
.search-label-text {
  display: flex;
  align-items: center;
}
