.nav, .nav-left, .nav-right, .search-checkbox-container, .search-text-container {
  flex-direction: row;
}

.nav {
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: $main-green;
  margin: 0 0 10px 0;
  .nav-left-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav-logo {
      width: 42px;
      height: 42px;
      margin: 0 4px 0 8px;
      transition: width 0.42s, height 0.42s
    }
  }
  .nav-left-link:hover {
    text-decoration: none;
    .nav-logo {
      width: 50px;
      height: 50px;
    }
  }
  .nav-acct-link {
    padding: 0 14px 0 14px;
  }
  span {
    color: $main-orange;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $text-black;
    font-weight: 300;
    font-size: 36px;
    font-family: Skranji;
  }
}

.search-text-container {
  background-color: white;
  border: 1px solid grey;
  width: 155px;
  padding: 4px 4px 4px 4px;
  input {
    border: none;
    width: 100%;
  }
  input:focus {
    outline: none;
  }
  button, button:focus {
    border: none;
    cursor: pointer;
  }
  button:hover {
    color: $darker-green;
  }
}
.search-checkbox-container {
  margin: 2px 0 0 4px;
  .search-label-text {
    font-size: 14px;
    font-weight: 300;
    margin: 0 10px 0 0;
    input {
      margin: 0 3px 0 0;
      border-radius: 50px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    margin-bottom: 0;
    .nav-left-link {
      .nav-logo {
        transition: none;
      }
      h1 {
        display: none;
      }
    }
    .nav-left-link:hover {
      .nav-logo {
        width: 42px;
        height: 42px;
      }
    }
  }
}
