.nav, .nav-left, .nav-right, .search-checkbox-container, .search-text-container {
  flex-direction: row;
}

.nav {
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: $main-green;
  margin: 0 0 10px 0;
}

.nav-left-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo {
  width: 55px;
  height: 55px;
}

.nav-acct-link {
  padding: 0 14px 0 14px;
}

.search-label-text {
  font-size: 14px;
  font-weight: 300;
  .input {
    margin: 0 5px 0 0;
  }
  margin: 0 5px 0 0;
}

span.nav-title {
  color: $main-orange;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 800;
  font-size: 36px;
}
