.nav, .nav-left, .nav-right, .search-container {
  flex-direction: row;
}

.nav {
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: $main-green;
  margin: 0 0 10px 0;
}

.nav-left-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo {
  width: 55px;
  height: 55px;
}
